fastapi==0.115.2
uvicorn[standard]==0.30.6
pydantic==2.9.2
pandas==2.2.3
numpy==2.2.2
SQLAlchemy==2.0.34
psycopg2-binary==2.9.10
plotly==5.24.1
matplotlib==3.10.6
seaborn==0.13.2
prefect==3.0.4
statsmodels==0.14.5
openpyxl==3.1.5
pyarrow==20.0.0
pyspark==3.5.3
httpx==0.27.2
python-dotenv==1.0.1
